# Source further custom features from .env.user if exists
# Also allows users to disable/override features in this file
source_env_if_exists .envrc.user

if ${UNBLOB_USE_DEVENV:-true}; then
    watch_file flake.nix flake.lock devenv.nix
    use nix \
        --option extra-substituters "https://unblob.cachix.org" \
        --option extra-trusted-public-keys "unblob.cachix.org-1:5kWA6DwOg176rSqU8TOTBXWxsDB4LoCMfGfTgL5qCAE="
fi
