# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: ^tests/integration|\.patch|^nix/_sources
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ".*\\.md"
      - id: end-of-file-fixer
      - id: check-json
      - id: check-toml
      - id: check-yaml
        args: ['--unsafe']
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: ruff
        name: Check python (ruff)
        language: system
        types_or: [python, pyi]
        require_serial: true
        entry: uv run ruff check --force-exclude
        args:
          [--output-format=full, --fix, --show-fixes, --exit-non-zero-on-fix]
      - id: ruff-format
        name: Format python (ruff)
        language: system
        types_or: [python, pyi]
        require_serial: true
        entry: uv run ruff format --force-exclude
      - id: nixfmt
        name: Format Nix (nixfmt)
        types: [nix]
        language: system
        require_serial: true
        entry: bash -c 'command -v nix && nix "$@" || echo "skipping nixfmt"' nix
        args:
          - --experimental-features
          - nix-command flakes
          - --accept-flake-config
          - fmt
      - id: ty
        name: Type check python (ty)
        language: system
        types_or: [python, pyi]
        require_serial: true
        entry: uv run ty check .
      - id: statix
        name: Lint Nix (statix)
        types: [nix]
        pass_filenames: false
        language: system
        entry: bash -c 'command -v nix && statix fix "$@" || echo "skipping statix"'
      - id: deadnix
        name: Lint Nix (deadnix)
        types: [nix]
        language: system
        entry: bash -c 'command -v nix && deadnix --edit "$@" || echo "skipping deadnix"'
      - id: taplo-format
        name: Format TOML (taplo)
        language: system
        types: [toml]
        entry: uv run taplo format
      - id: cargo-fmt # rustup component add rustfmt
        name: Check rust (cargo fmt)
        entry: cargo fmt --all --
        language: system
        types: [rust]
        pass_filenames: false
      - id: cargo-clippy # rustup component add clippy
        name: Check rust (cargo clippy)
        entry: cargo clippy --tests --all-features -- -D warnings
        language: system
        pass_filenames: false
        types: [rust]

  - repo: https://github.com/jendrikseipp/vulture
    rev: v2.14
    hooks:
      - id: vulture
        name: Check vulture

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.36.0
    hooks:
      - id: check-github-actions
        name: Check Github actions
      - id: check-github-workflows
        name: Check Github workflows

  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 41.61.1
    hooks:
      - id: renovate-config-validator
        args: [--strict]
