[tool.poetry]
name = "unblob"
version = "0.1.0"
description = "Extract files from any kind of container formats"
authors = ["ONEKEY <support@onekey.com>"]
license = "MIT"
packages = [
    { include = "unblob" },
]
include = ["rust/*", "rust/src/*"]
build = "build.py"

[tool.poetry.dependencies]
python = "^3.8"
click = "^8.0.1"
"dissect.cstruct" = "^2.0"
attrs = "^21.2.0"
structlog = "^21.2.0"
arpy = "^2.2.0"
rarfile = "^4.0"
ubi-reader = { git = "https://github.com/onekey-sec/ubi_reader.git", rev = "8c956d47b28af4085366e2acfee8d3ba016f6e90" }
python-lzo = "^1.14"
cstruct = "2.1"
jefferson = { git = "https://github.com/onekey-sec/jefferson.git", rev = "ddbc592edd81e8d53e5d49668da095e7a9293ade" }
yaffshiv = { git = "https://github.com/onekey-sec/yaffshiv.git", rev = "24e6e453a36a02144ae2d159eb3229f9c6312828" }
plotext = "^4.1.5"
pluggy = "^1.0.0"
file-magic = "^0.4.0"
hyperscan = "^0.3.0"
lark = "^1.1.2"
lz4 = "^4.0.0"
lief = "^0.12.1"


[tool.poetry.dev-dependencies]
pytest = "^6.2.4"
pyright = "^0.0.12"
pre-commit = "^2.15.0"
pytest-cov = "^3.0.0"
setuptools-rust = "^1.1.2"

[tool.isort]
profile = "black"

[tool.poetry.scripts]
unblob = "unblob.cli:main"

[tool.pytest.ini_options]
addopts = "--cov=unblob --cov=tests --cov-branch --cov-fail-under=90"
norecursedirs = """
  *.egg
  *_extract
  .*
  dist
  build
  target
  tests/integration
"""

[tool.vulture]
paths = ["unblob/", "vulture_whitelist.py" ]
exclude = ["unblob/_py/", "unblob/testing.py"]

[tool.pyright]
exclude = ["build"]

[build-system]
requires = ["poetry-core>=1.0.0", "setuptools>=60.9.3"]
build-backend = "poetry.core.masonry.api"
