[package]
name = "unblob-rust"
version = "0.1.0"
edition = "2021"

[lib]
name = "unblob"
crate-type = [
    "cdylib",  # for Python extension
    "rlib",  # for benchmarking
]

[dependencies]
libc = "0.2.112"
pyo3 = "0.15.1"

[dev-dependencies]
approx = "0.5.0"
criterion = "0.3.5"
rand = "0.8.4"
tempfile = "3.3.0"

[[bench]]
name = "benches_main"
harness = false

[features]
