name: "Update dependencies"
on:
  workflow_dispatch: # allows manual triggering
  schedule:
    - cron: "0 0 * * 0" # runs weekly on Sunday at 00:00

jobs:
  update-flake:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v25
        with:
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
      - uses: cachix/cachix-action@v14
        with:
          name: unblob
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - name: Update flake.lock
        uses: DeterminateSystems/update-flake-lock@v19
        with:
          token: ${{ secrets.CREATE_PR_TOKEN }}
          pr-title: "Update flake.lock" # Title of PR to be created
          pr-labels: | # Labels to be set on the PR
            dependencies
            automated

  update-vendored:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v25
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
      - uses: cachix/cachix-action@v14
        with:
          name: unblob
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - name: Update vendored package versions
        env:
          GITHUB_TOKEN: ${{ secrets.CREATE_PR_TOKEN }}
        run: .github/workflows/update-vendored-nix-dependencies.py
